.highlight {
  background-color: violet;
  font-weight: bold;
}

.class_name{
  background-color: #dee2e6;
  font-weight: 600;
 }
 .class_names{
color: red;
 }

 .highlight {
  background-color: red;
  font-weight: bold;
}
